## Python for ML

In [3]:
# print fn
a=10
b=20
print(a,end=" ")
print(b)
print(b)

10 20
20

In [5]:
# last line is output
a=10
b=20
print(a)
print(b)
a
b

10
20

20

In [11]:
a=10
print(a)
print(type(a))
a='c'
print(a)
print(type(a))
a="python"
print(a)
print(type(a))
a=2+3j
print(a)
print(type(a))

10
<class 'int'>
c
<class 'str'>
python
<class 'str'>
(2+3j)
<class 'complex'>

In [19]:
print(a+10)
print(a-10)
print(a*10)
print(a/10)
a=40
b=3
print(a/b)
print(a//b)
print(a%b)
print(9**2)

50
30
400
4.0
13.333333333333334
13
1
81

In [15]:
# there is no char datatype
# Strings are immutable ie we can't change a part/element of string but we can change the entire string
a='hello world'
print(a)
print(type(a))
# a[0]='c' gives error as Strings are immutable
a="Python3"
print(a)
print(len(a))
print(a.lower())
print(a.upper())

hello world
<class 'str'>
Python3
7
python3
PYTHON3

In [30]:
# input() returns str
a=input()
print(a)
print(type(a))
a=int(input())
print(a)
print(type(a))

25
25
<class 'str'>
5
5
<class 'int'>

In [32]:
# negative indexing
a="Python3"
print(a[0])
print(a[-1]) # last index of string , -ve index start from end 
print(a[-2])

P
3
n

In [6]:
# slicing [s:e] prints the string starting from s to e-1
a='Python3'
print(a[0:3])
b=a[0:]
print(b)
print(type(b))
print(a[:5])
print(a[2:])
print(a[:])
print(a[-1:]) # printing only -1 as it gets incremented
print(a[-4:]) # printing -4 -3 -2 -1 th elements

Pyt
Python3
<class 'str'>
Pytho
thon3
Python3
3
hon3

In [24]:
# Tuples
# Like Strings, Tuples are also immutable
t=(1,2,3)
print(t)
print(type(t))
print(t[0])
t=(1,'hello',2.5,True,[5,9,60])
print(t)
print(t[4])
print(t[4][0])

# slicing in tuples 
print(t[0:3])
print(t[-1])

#operations in tuples
k=('abc',100)
t=t+k
print(t)
print(t*2)
print(1 in t)
print('abc' in t)
print(False in t)

(1, 2, 3)
<class 'tuple'>
1
(1, 'hello', 2.5, True, [5, 9, 60])
[5, 9, 60]
5
(1, 'hello', 2.5)
[5, 9, 60]
(1, 'hello', 2.5, True, [5, 9, 60], 'abc', 100)
(1, 'hello', 2.5, True, [5, 9, 60], 'abc', 100, 1, 'hello', 2.5, True, [5, 9, 60], 'abc', 100)
True
True
False

In [2]:
# Boolean
a,b=10,20
print(a>b)
print(a<b)
temp=a>b
print(temp)

c=100
print(c>a and c>b)

False
True
False
True

In [1]:
# indentation is compulsory and brackets are optional
a,b=100,100
if(a>b):
    print('a is bigger')
elif(a<b):
    print('b is bigger')
else:
    print('both are equal')

both are equal

In [2]:
a=1
while(a<=10):
    print(a,' ')
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [6]:
# FOR LOOP
# default start=0 & jump=1 & end is not included in range start to end-1
for i in range(10):
    print(i)
for i in range(5,10):
    print(i)
for i in range(5,31,5):
    print(i)

0
1
2
3
4
5
6
7
8
9
5
6
7
8
9
5
10
15
20
25
30

In [8]:
n=int(input())
for i in range(2,n):
    if(n%i==0):
        isPrime=False
        break
if(isPrime):
    print('No is prime')
else:
    print('Not prime')

7
Not prime

In [11]:
# Fast iterations
t=(1,0.9,"Hello",[1,2,3])
for i in t:
    print(i)
for i in t[3]:
    print(i)

1
0.9
Hello
[1, 2, 3]
1
2
3

In [ ]:
s="abc def"
s=s.split(" ")
for i in s:
    for ch in i:

In [1]:
# Function & default parameters
def add(a=10,b=20,c=30):
    return a+b+c;
print(add(5))
print(add(5,100))
print(add(5,12,3))
print(add())
print(add(b=5))

55
135
20
60
45

In [5]:
# variable no of inputs to a fn
# more is a tuple
def sum_var(a,b,*more):
    print(more)
    print(type(more))
    sum=0
    for i in more:
        sum+=i
    return a+b+sum
sum_var(10,5)
sum_var(1,2,3,4,5,6,7)

()
<class 'tuple'>
(3, 4, 5, 6, 7)
<class 'tuple'>

28

In [12]:
# variable no of outputs to a fn
def dummyfn(a,b):
    return a,b,a+b,a-b
print(dummyfn(5,10)) # return type is tuple
print(type(dummyfn(5,10)))
a,b,sum,diff=dummyfn(5,10)
print(a)
print(b)
print(sum)
print(diff)
x=dummyfn(50,50)
print(x)
print(type(x))
sum=dummyfn(50,50)[2]
print(sum)

(5, 10, 15, -5)
<class 'tuple'>
5
10
15
-5
(50, 50, 100, 0)
<class 'tuple'>
100

In [2]:
#Lists - they are mutable (can be changed)
a=[1,2,3,4]
print(a)
print(type(a))

a=list() #empty list
print(a)

a=[] #empty list
print(a)

a=list("HELLO") #empty list
print(a)

b=[6,40,10,8]
a=list(b)
print(a)

a=list()
print(a)

a=[0 for i in range(10)]
print(a)
a=[i for i in range(10)]
print(a)
a=[i*i for i in range(10)]
print(a)

a=[1,5+6j,'hello',2.55]
print(a)
for i in a:
    print(i)
print(a[1])

[1, 2, 3, 4]
<class 'list'>
[]
[]
['H', 'E', 'L', 'L', 'O']
[6, 40, 10, 8]
[]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, (5+6j), 'hello', 2.55]
1
(5+6j)
hello
2.55
(5+6j)

In [1]:
# taking string input & convert to int

# input().strip() - remove extra spaces b4 & after string
# .split(' ') - splits the string at ' ' & returns a list of the elements
# int(i) - converts each ele to int

l=[int(i) for i in input().strip().split(' ')]
print(l)

 1 2 3 4 5
[1, 2, 3, 4, 5]

In [5]:
# inserting elements
l=[1,2.4,'hell']
l.append('py') # inserts at end
print(l)

l.insert(1,100)
print(l)

l.extend([8,'ex',0.25])
print(l)

[1, 2.4, 'hell', 'py']
[1, 100, 2.4, 'hell', 'py']
[1, 100, 2.4, 'hell', 'py', 8, 'ex', 0.25]

In [21]:
# deleting ele
#x=l.pop() # without arg deletes last ele
print(x)
print(l)

#l.pop(2) # delets at index
print(l)

l.append(100)
#l.remove(100) # removes 1st occurences of 100
print(l)

del l[1] # deletes ele at idx 2
print(l)
del l[2:4] # deletes ele from idx start to end-1
print(l)

100
[2, 4, 5, 5, 8, 100, 100]
[2, 4, 5, 5, 8, 100, 100]
[2, 4, 5, 5, 8, 100, 100, 100]
[2, 5, 5, 8, 100, 100, 100]
[2, 5, 100, 100, 100]

In [12]:
# operations
print(l+l) # we only performed l+l but not l=l+l
print(l)
l=l+l
print(l)

['hell', 8, 100, 100, 'hell', 8, 100, 100]
['hell', 8, 100, 100]
['hell', 8, 100, 100, 'hell', 8, 100, 100]

In [2]:
l=[4,5,8,100,5,100,2,100]
l.sort()
print(l)
print(l.count(100)) # count of ele
print(l.count(99))
print(l.index(100)) # returns pos of 1st occur

print(99 in l)
print(l[2:4])
print(l)

[2, 4, 5, 5, 8, 100, 100, 100]
3
0
5
False
[5, 5]
[2, 4, 5, 5, 8, 100, 100, 100]

In [8]:
#Bubble sort
l=[5,8,10,2,0,6,9]
n=len(l)

for i in range(n-1):
    for j in range(n-1):
        if(l[j]>l[j+1]):
            t=l[j]
            l[j]=l[j+1]
            l[j+1]=t
        

print(l)

[0, 2, 5, 6, 8, 9, 10]

In [8]:
# Dictionaries
d={}
print(d)
d['one']=2
d[1]='one'
d[3.5]=3
print(d)
d={'one': 2, 1: 'one', 3.5: 3, (1,2,3):'tuple'}
print(d)
# keys are immutable ie a list can't be a key

{}
{'one': 2, 1: 'one', 3.5: 3}
{'one': 2, 1: 'one', 3.5: 3, (1, 2, 3): 'tuple'}

In [3]:
for i in d:
    print(i,d[i])

one 2
1 one
3.5 3
(1, 2, 3) tuple

In [9]:
# deleting ele
del d[1]
print(d)

{'one': 2, 3.5: 3, (1, 2, 3): 'tuple'}

In [15]:
# operations in Dictionaries
d1={'one': 2, 1: 'one', 3.5: 3, (1,2,3):'tuple'}
d2={1: 'one','one': 2,(1,2,3):'tuple',3.5: 3,}

print(d1==d2)
# print(d1+d2) not supported

print(len(d1))

print(d1.values())
print(d1.keys())

# check if key present
print(1 in d1)
print('abc' in d1)

True
4
dict_values([2, 'one', 3, 'tuple'])
dict_keys(['one', 1, 3.5, (1, 2, 3)])
True
False

In [19]:
# 2D Lists
lt=[[1,'two',3],[4,5.5,6],['a','b','c']]
print(lt)

lt=[[i,i+1,i+2] for i in range(5)]
print(lt)

lt=[[j+i for j in range(i,i*2+1)] for i in range(5)]
print(lt)

[[1, 'two', 3], [4, 5.5, 6], ['a', 'b', 'c']]
[[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6]]
[[0], [2, 3], [4, 5, 6], [6, 7, 8, 9], [8, 9, 10, 11, 12]]

In [5]:
rows=int(input("Enter no of rows : "))
cols=int(input("Enter no of cols : "))
l=[int(i) for i in input("Enter the elements : ").strip().split(' ')]
print(l)

res=[]
for i in range(rows):
    res.append([])
    for j in range(cols):
        res[i].append(l[i*cols+j])

# OR :
res=[[l[i*cols+j] for j in range(cols)] for i in range(rows)]
print(res)

Enter no of rows : 3
Enter no of cols : 3
Enter the elements : 7 8 0 1 4 6 5 9 3
[7, 8, 0, 1, 4, 6, 5, 9, 3]
[[7, 8, 0], [1, 4, 6], [5, 9, 3]]

In [6]:
# Spiral Print
rows=len(res)
cols=len(res[0])

for i in range(cols):
    if(i%2==0):
        for j in range(rows):
            print(res[j][i],end=" ")
    else:
        for j in range(rows-1,-1,-1):
            print(res[j][i],end=" ")

7 1 5 9 4 8 0 6 3