In [1]:
import pandas as pd

# Arithmetic Operations

In [7]:
data = {"Cat 1": [45, 20, 33, 50, 29], "Cat 2": [38, 44, 40, 30, 48]}
df = pd.DataFrame(data)
print(df)
df["Average"] = (df["Cat 1"]+df["Cat 2"])/2
df["Above 40"] = df["Average"] >= 40.0
print(df)

   Cat 1  Cat 2
0     45     38
1     20     44
2     33     40
3     50     30
4     29     48
   Cat 1  Cat 2  Average  Above 40
0     45     38     41.5      True
1     20     44     32.0     False
2     33     40     36.5     False
3     50     30     40.0      True
4     29     48     38.5     False

# Insert Operations

In [14]:
df.insert(0, "DA-1", [8, 10, 7, 5, 9])  # insert at pos 0
print(df)
df.insert(0, "DA-2", df["DA-1"][2:])
print(df)
df.insert(0, "DA-3", (df["DA-1"]+df["DA-2"])/2)
print(df)

   DA-3  DA-2  DA-1  Cat 1  Cat 2  Average  Above 40
0   NaN   NaN     8     45     38     41.5      True
1   NaN   NaN    10     20     44     32.0     False
2   7.0   7.0     7     33     40     36.5     False
3   5.0   5.0     5     50     30     40.0      True
4   9.0   9.0     9     29     48     38.5     False

# Delete Operations

In [15]:
popped = df.pop("DA-3")
print(popped)
print(df)

0    NaN
1    NaN
2    7.0
3    5.0
4    9.0
Name: DA-3, dtype: float64
   DA-2  DA-1  Cat 1  Cat 2  Average  Above 40
0   NaN     8     45     38     41.5      True
1   NaN    10     20     44     32.0     False
2   7.0     7     33     40     36.5     False
3   5.0     5     50     30     40.0      True
4   9.0     9     29     48     38.5     False