In [2]:
import pandas as pd

In [18]:
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df=iris.copy()
df.columns=['sl','sw','pl','pw','flower_type']
df['Gender']='Male'
df.describe()
df.index

RangeIndex(start=0, stop=149, step=1)

In [20]:
df.head(149)
df.iloc[100:149,5]='Female'

In [21]:
df.head(149)

      sl   sw   pl   pw     flower_type  Gender
0    4.9  3.0  1.4  0.2     Iris-setosa    Male
1    4.7  3.2  1.3  0.2     Iris-setosa    Male
2    4.6  3.1  1.5  0.2     Iris-setosa    Male
3    5.0  3.6  1.4  0.2     Iris-setosa    Male
4    5.4  3.9  1.7  0.4     Iris-setosa    Male
..   ...  ...  ...  ...             ...     ...
144  6.7  3.0  5.2  2.3  Iris-virginica  Female
145  6.3  2.5  5.0  1.9  Iris-virginica  Female
146  6.5  3.0  5.2  2.0  Iris-virginica  Female
147  6.2  3.4  5.4  2.3  Iris-virginica  Female
148  5.9  3.0  5.1  1.8  Iris-virginica  Female

[149 rows x 6 columns]

In [22]:
def fn(s):
    if(s=='Male'):
        return 1
    else:
        return 0

In [23]:
# Applying a fn which takes input every entry of the col and returns some val
df["Sex"]=df["Gender"].apply(fn)
del df["Gender"]
df.head(149)

      sl   sw   pl   pw     flower_type  Sex
0    4.9  3.0  1.4  0.2     Iris-setosa    1
1    4.7  3.2  1.3  0.2     Iris-setosa    1
2    4.6  3.1  1.5  0.2     Iris-setosa    1
3    5.0  3.6  1.4  0.2     Iris-setosa    1
4    5.4  3.9  1.7  0.4     Iris-setosa    1
..   ...  ...  ...  ...             ...  ...
144  6.7  3.0  5.2  2.3  Iris-virginica    0
145  6.3  2.5  5.0  1.9  Iris-virginica    0
146  6.5  3.0  5.2  2.0  Iris-virginica    0
147  6.2  3.4  5.4  2.3  Iris-virginica    0
148  5.9  3.0  5.1  1.8  Iris-virginica    0

[149 rows x 6 columns]